<%-include("../../views/partials/user/header")%>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg container-fluid" data-setbg="user/img/image.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <form class="checkout__form" id="checkoutForm" action="/placeOrder" method="POST">
                <h4>Order Details</h4>
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            
                            <div class="shoping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;" class="shoping__product">Products</th>
                                            <th class="shoping__cart__price">Original Price</th>
                                            <th class="shoping__cart__price">Offer Price</th>
                                            <th style="width: 10%;">Quantity</th>
                                            <th class="shoping__cart__total">Total</th>
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        <%for(let i=0;i<cart.items.length;i++){%>
                                            <tr>
                                                <td style="width: 250px;" class="shoping__cart__item">
                                                    <img style="height: 60px;" src="<%=cart.items[i].productId.productImage[0]%>" alt="">
                                                    <h5><%=cart.items[i].productId.productName%></h5>
                                                </td>
                                                <td>
                                                    ₹<%=cart.items[i].productId.price%>
                                                </td>
                                                <td>
                                                    ₹<%=cart.items[i].productId.discountedPrice%>
                                                </td>
                                                <td class="shoping__cart__quantity">
                                                    <%=cart.items[i].quantity%>
                                                </td>
                                                <%  let totalPrice = 0;
                                                    cart.items[i].totalPrice = cart.items[i].productId.discountedPrice * cart.items[i].quantity 
                                                %>
                                                <td>
                                                    ₹<%= cart.items[i].totalPrice %>
                                                </td>
                                            </tr>
                                            <%}%>
                                            
                                    </tbody>
                                </table>
                            </div>
                            <div class="">
                                <h5>Shipping</h5>
                                <div>
                                    <h6>Shipping Address</h6>
                                    <div class="row">
                                        <% if (address && address.address && address.address.length > 0) { %>
                                            <% for(let i = 0; i < address.address.length; i++) { %>
                                                <div class="col-md-6 mb-3">
                                                    <input type="radio" name="selectedAddress" value="<%= i %>" id="addr<%= i %>" class="d-none" <%= address.address[i].isDefault ? 'checked' : '' %> />
                                                    <label for="addr<%= i %>" class="selectable-card w-100 h-100 p-3 border rounded d-block">
                                                        <address>
                                                            <strong><%= address.address[i].addressType %></strong><br>
                                                            <%= address.address[i].name %><br>
                                                            <%= address.address[i].landMark %>, <%= address.address[i].city %><br>
                                                            <%= address.address[i].state %> - <%= address.address[i].pincode %><br>
                                                            <%= address.address[i].phone %>, <%= address.address[i].altPhone %><br>
                                                        </address>
                                                        <a href="/editAddress?id=<%= address.address[i]._id %>&source=checkout" class="text-decoration-none">
                                                            Edit
                                                        </a>
                                                    </label>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <h7 class="mx-auto">No address found. Please add an address.</h7>
                                        <% } %>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                Add a new address ?
                                <a href="/addAddress?source=checkout" class="text-decoration-none">
                                     Add
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__subtotal">Subtotal <span>₹<%=subtotal%></span>
                                    <ul>
                                            <li>Discount <span>-₹<%=discount%></span></li>
                                        <%if(coupon){%>
                                            <li>Special Offer (<%= coupon.couponCode %>) <span>-₹<%= couponDiscount %></span></li>
                                        <%}%>
                                        <%if(shippingCharge){%>
                                            <li>Shipping Charge <span>₹<%=shippingCharge%></span></li>
                                        <%}else{%>
                                            <li>Shipping <span style="color: rgb(31, 197, 31);">FREE</span></li>
                                        <%}%>
                                        <%if(tax){%>
                                            <li>Tax(12%) <span>₹<%=tax%></span></li>
                                        <%}else{%>
                                            <li>Tax(0%) <span>₹0</span></li>
                                        <%}%>
                                    </ul>

                                </div>
                                
                                <div class="checkout__order__total">Total <span>₹<%=total%></span></div>
        
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        <input type="radio" id="payment" name="paymentMethod" value="payment">
                                        Online Payment
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="wallet">
                                        <input type="radio" id="wallet" name="paymentMethod" value="wallet">
                                        Wallet Payment
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <% if(total < 1000){ %>
                                <div class="checkout__input__checkbox">
                                    <label for="cod">
                                        <input type="radio" id="cod" name="paymentMethod" value="COD">
                                        Cash on delivery
                                        <span class="checkmark"></span>
                                    </label>
                                </div> 
                                <% }%>
                                <button type="submit" id="placeOrderBtn" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </section>
    <!-- Checkout Section End -->

    <%-include("../../views/partials/user/footer")%>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('checkoutForm');
            form.addEventListener('submit', placeOrder);
        });

        function placeOrder(event) {
            event.preventDefault();

            const paymentMethodInput = document.querySelector('input[name="paymentMethod"]:checked');
            const selectedAddressInput = document.querySelector('input[name="selectedAddress"]:checked');

            if (!selectedAddressInput) {
                return Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Please select a shipping address',
                });
            }

            if (!paymentMethodInput) {
                return Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Please select a payment method',
                });
            }

            const paymentMethod = paymentMethodInput.value;
            const selectedAddress = selectedAddressInput.value;
            const totalAmount = <%- JSON.stringify(total) %>; 


            Swal.fire({
                title: 'Confirm Order',
                text: `Place order with ${paymentMethod === 'payment' ? 'Online Payment' : paymentMethod === 'wallet' ? 'Wallet Payment' : 'Cash on Delivery'}?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, place order',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    if (paymentMethod === 'payment') {
                        payNow(totalAmount);
                    } else if (paymentMethod === 'COD') {
                        order(selectedAddress,paymentMethod)
                    }else if(paymentMethod === 'wallet'){
                        order(selectedAddress,paymentMethod)
                    }
                }
            });
        }

        async function order(selectedAddress,paymentMethod) {
            fetch('/placeOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                    body: JSON.stringify({
                    selectedAddress,
                    paymentMethod
                })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed!',
                        text: 'Redirecting to success page...',
                        timer: 1500,
                        showConfirmButton: false
                    }).then(() => {
                        window.location.href = '/orderPlaced';
                    });
                } else {
                    const errorMessage = Array.isArray(data.error) ? data.error[0] : data.message || 'Order failed';
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed',
                        text: errorMessage,
                    });
                }
            })
            .catch(err => {
                console.error(err);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Could not place order. Please try again later.',
                });
            });
        }



        async function payNow(amount) {
            const res = await fetch('/razorpayOrder', {
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount })
            });
            const data = await res.json();

            if (!res.ok || data.error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.error[0] || 'Payment initiation failed.'
            });
            return;
        }

            const options = {
                key : data.key,
                amount : data.amount,
                currency : "INR",
                name : "Craftaraah Ecommerce",
                description : "Order Payment",
                order_id : data.orderId,
                handler : function(response){
                    console.log("Payment response:", response);
                    fetch('/verifyPayment', {
                        method : 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            paymentId: response.razorpay_payment_id,
                            razorOrderId: response.razorpay_order_id,
                            signature: response.razorpay_signature
                        })
                    }).then(res => {
                        return res.json()
                    })
                    .then(data => {
                        if(data.status){
                            fetch('/placeOrder',{
                                method : 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    razorOrderId : response.razorpay_order_id,
                                    paymentId : response.razorpay_payment_id,
                                    signature : response.razorpay_signature,
                                    paymentMethod : 'Razorpay',
                                    selectedAddress : document.querySelector('input[name="selectedAddress"]:checked').value
                                })
                            }).then(res => res.json())
                            .then(data => {
                                if(data.success){
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Order Placed!',
                                        text: 'Redirecting to success page...',
                                        timer: 1500,
                                        showConfirmButton: false
                                    }).then(() => {
                                        window.location.href = '/orderPlaced';
                                    });
                                } else {
                                    window.location.href = '/orderFailure';
                                }
                            })
                            
                        } else {
                            window.location.href = '/orderFailure';
                        }
                    }).catch(err => {
                        console.error("Error verifying payment:", err);
                        window.location.href = "/orderFailure";
                    });
                },
                theme : {
                    color : "#F37254"
                }
            }
            const razor = new Razorpay(options);
            razor.open();
        }
    </script>
 

</body>
</html>