<%-include("../../views/partials/user/header")%>

<!-- Font Awesome CDN -->



    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya & Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg container" data-setbg="user/img/image.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <form class="checkout__form" action="/placeOrder" method="POST">
                <h4>Order Details</h4>
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            
                            <div class="shoping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 40%;" class="shoping__product">Products</th>
                                            <th class="shoping__cart__price">Original Price</th>
                                            <th class="shoping__cart__price">Offer Price</th>
                                            <th style="width: 10%;">Quantity</th>
                                            <th class="shoping__cart__total">Total</th>
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        <%for(let i=0;i<cart.items.length;i++){%>
                                            <tr>
                                                <td style="width: 250px;" class="shoping__cart__item">
                                                    <img style="height: 60px;" src="<%=cart.items[i].productId.productImage[0]%>" alt="">
                                                    <h5><%=cart.items[i].productId.productName%></h5>
                                                </td>
                                                <td>
                                                    ₹<%=cart.items[i].productId.regularPrice%>
                                                </td>
                                                <td>
                                                    ₹<%=cart.items[i].productId.salePrice%>
                                                </td>
                                                <td class="shoping__cart__quantity">
                                                    <%=cart.items[i].quantity%>
                                                </td>
                                                <td>
                                                    ₹<%=cart.items[i].totalPrice%>
                                                </td>
                                            </tr>
                                            <%}%>
                                            
                                    </tbody>
                                </table>
                            </div>
                            <div class="">
                                <h5>Shipping</h5>
                                <div>
                                    <h6>Shipping Address</h6>
                                    <div class="row">
                                        <% if (address && address.address && address.address.length > 0) { %>
                                            <% for(let i = 0; i < address.address.length; i++) { %>
                                                <div class="col-md-6 mb-3">
                                                    <input type="radio" name="selectedAddress" value="<%= i %>" id="addr<%= i %>" class="d-none" <%= address.address[i].isDefault ? 'checked' : '' %> />
                                                    <label for="addr<%= i %>" class="selectable-card w-100 h-100 p-3 border rounded d-block">
                                                        <address>
                                                            <strong><%= address.address[i].addressType %></strong><br>
                                                            <%= address.address[i].name %><br>
                                                            <%= address.address[i].landMark %>, <%= address.address[i].city %><br>
                                                            <%= address.address[i].state %> - <%= address.address[i].pincode %><br>
                                                            <%= address.address[i].phone %>, <%= address.address[i].altPhone %><br>
                                                        </address>
                                                        <a href="/editAddress?id=<%= address.address[i]._id %>&source=checkout" class="text-decoration-none">
                                                            Edit
                                                        </a>
                                                    </label>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <h7 class="mx-auto">No address found. Please add an address.</h7>
                                        <% } %>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                Add a new address ?
                                <a href="/addAddress?source=checkout" class="text-decoration-none">
                                     Add
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__subtotal">Subtotal <span>₹<%=subtotal%></span>
                                    <ul>
                                            <li>Discount <span>-₹<%=discount%></span></li>
                                        <%if(shippingCharge){%>
                                            <li>Shipping Charge <span>₹<%=shippingCharge%></span></li>
                                        <%}else{%>
                                            <li>Shipping <span style="color: rgb(31, 197, 31);">FREE</span></li>
                                        <%}%>
                                        <%if(tax){%>
                                            <li>Tax(12%) <span>₹<%=tax%></span></li>
                                        <%}else{%>
                                            <li>Tax(0%) <span>₹0</span></li>
                                        <%}%>
                                    </ul>

                                </div>
                                
                                <div class="checkout__order__total">Total <span>₹<%=total%></span></div>
        
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        <input type="radio" id="payment" name="paymentMethod" value="payment">
                                        Payment
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="cod">
                                        <input type="radio" id="cod" name="paymentMethod" value="COD">
                                        Cash on delivery
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                                <button type="button" class="site-btn" onclick="payNow(100)">Pay Now</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </section>
    <!-- Checkout Section End -->

    <%-include("../../views/partials/user/footer")%>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        async function payNow(amount) {
            const res = await fetch('/razorpayOrder', {
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount })
            });
            const data = await res.json();

            const options = {
                key : data.key,
                amount : data.amount,
                currency : "INR",
                name : "Craftaraah Ecommerce",
                description : "Order Payment",
                order_id : data.orderId,
                handler : function(response){
                    fetch('/verifyPayment', {
                        method : 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(response)
                    }).then(res => {
                        return res.json()
                    })
                    .then(data => {
                        if(data.status){
                            alert('Payment verification Successful');
                            window.location.href = '/orderSuccess';
                        } else {
                            alert('Payment verification Failed');
                            window.location.href = '/orderFailure';
                        }
                    }).catch(err => {
                        console.error("Error verifying payment:", err);
                        window.location.href = "/order-failure";
                    });
                },
                theme : {
                    color : "#F37254"
                }
            }
            const razor = new Razorpay(options);
            razor.open();
        }
    </script>
 

</body>

</html>