<%-include("../../views/partials/user/header")%>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__search d-flex justify-content-center">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                    </div>
                    <div style="height: 700px;" class="hero__item set-bg" data-setbg="/user/img/banner_new.webp">
                        <div class="hero__text">
                            <h2>Celebrate <br />Love & Togetherness</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <% for(let i=0;i<category.length;i++){ %>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="<%= category[i].photo %>">
                            <h5><a><%= category[i].name %></a></h5>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-between">
                    <div class="section-title">
                        <h2>Our Products</h2>
                    </div>
                    <div>
                        <a href="/shop" class="primary-btn">View All</a>
                    </div>
                </div>
            </div>
            <div class="row" id="productsContainer">
                <% for (let i = Math.max(product.length - 8, 0); i < product.length; i++) { %>
                    <div class="col-lg-3 col-md-6 col-sm-6 product-item"
                         data-createdAt="<%= product[i].createdAt %>"
                         data-price="<%= product[i].discountedPrice %>"
                         data-name="<%= product[i].productName %>">
                         
                        <div class="product__item position-relative">
                            <% if (product[i].maxDiscount && product[i].maxDiscount > 0) { %>
                            <div style="position: absolute; top: 10px; left: 10px; background-color: red; color: white; font-size: 13px; padding: 2px 6px; border-radius: 5px; z-index: 10;">
                                <%= product[i].maxDiscount %>% OFF
                            </div>
                            <% } %>
                            
                            <div class="product__item__pic set-bg" data-setbg="<%= product[i].productImage[0] %>">
                                <ul class="product__item__pic__hover">
                                    <li><a href="/addToWishlist?productId=<%= product[i]._id %>"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="/addToCart?productId=<%= product[i]._id %>"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/productDetails?id=<%= product[i]._id %>"><%= product[i].productName %></a></h6>
                                <div class="product__details__rating" style="color: #FDCC0D;">
                                    <% let rating = product[i].rating || 0; %>
                                    <% for(let j = 1; j <= 5; j++) { %>
                                        <% if (j <= Math.ceil(rating)) { %>
                                            <i class="fa fa-star"></i>
                                        <% } else { %>
                                            <i class="fa fa-star-o"></i>
                                        <% } %>
                                    <% } %>
                                    <span class="text-dark">(<%= product[i].review.length %>)</span>
                                </div>
                                <p class="d-flex justify-content-between">
                                    <span style="color: black;"><b>₹<%= product[i].discountedPrice %></b></span>
                                    <span class="text-muted"><strike class="text-danger">₹<%= product[i].price.toLocaleString('en-IN') %></strike></span>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                
            </div>
        </div>
        
        
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img style="width: 100%;" src="/user/img/banner/banner-1.AVIF" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img style="width: 100%;" src="/user/img/banner/banner-2.AVIF" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=0; i<3; i++){ 
                                    if(product[i]) { %>
                                       <a href="/productDetails?id=<%=product[i]._id%>" class="latest-product__item">
                                           <div class="latest-product__item__pic">
                                               <img src="<%=product[i].productImage[0]%>" alt="">
                                           </div>
                                           <div class="latest-product__item__text">
                                               <h6><%=product[i].productName%></h6>
                                               <div class="d-flex justify-content-between me-3">
                                                   <span>₹<%=product[i].discountedPrice%></span>
                                                   <span><strike class="text-danger">₹<%=product[i].price.toLocaleString('en-IN')%></strike></span>
                                               </div>
                                               <div class="product__details__rating" style="color: #FDCC0D;">
                                                   <% let rating = product[i].rating || 0; %>
                                                   <% for(let j = 1; j <= 5; j++) { %>
                                                       <% if (j <= Math.ceil(rating)) { %>
                                                           <i class="fa fa-star"></i>
                                                       <% } else { %>
                                                           <i class="fa fa-star-o"></i>
                                                       <% } %>
                                                   <% } %>
                                               </div>
                                           </div>
                                       </a>
                               <% } } %>                               
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=3; i<6; i++){ 
                                    if(product[i]) { %>
                                       <a href="/productDetails?id=<%=product[i]._id%>" class="latest-product__item">
                                           <div class="latest-product__item__pic">
                                               <img src="<%=product[i].productImage[0]%>" alt="">
                                           </div>
                                           <div class="latest-product__item__text">
                                               <h6><%=product[i].productName%></h6>
                                               <div class="d-flex justify-content-between me-3">
                                                   <span>₹<%=product[i].discountedPrice%></span>
                                                   <span><strike class="text-danger">₹<%=product[i].price.toLocaleString('en-IN')%></strike></span>
                                               </div>
                                               <div class="product__details__rating" style="color: #FDCC0D;">
                                                   <% let rating = product[i].rating || 0; %>
                                                   <% for(let j = 1; j <= 5; j++) { %>
                                                       <% if (j <= Math.ceil(rating)) { %>
                                                           <i class="fa fa-star"></i>
                                                       <% } else { %>
                                                           <i class="fa fa-star-o"></i>
                                                       <% } %>
                                                   <% } %>
                                               </div>
                                           </div>
                                       </a>
                               <% } } %>            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=0; i<3; i++){ 
                                if(rated[i]) { %>
                                <a href="/productDetails?id=<%=rated[i]._id%>" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="<%=rated[i].productImage[0]%>" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6><%=rated[i].productName%></h6>
                                        <div class="d-flex justify-content-between me-3">
                                            <span>₹<%=rated[i].discountedPrice%></span>
                                            <span><strike class="text-danger">₹<%=rated[i].price.toLocaleString('en-IN')%></strike></span>
                                        </div>
                                        <div class="product__details__rating" style="color: #FDCC0D;">
                                            <% let rating = rated[i].rating || 0; %>
                                            <% for(let j = 1; j <= 5; j++) { %>
                                                <% if (j <= Math.ceil(rating)) { %>
                                                    <i class="fa fa-star"></i>
                                                <% } else { %>
                                                    <i class="fa fa-star-o"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                                <% } } %>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=3; i<6; i++){ 
                                    if(rated[i]) { %>
                                    <a href="/productDetails?id=<%=rated[i]._id%>" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="<%=rated[i].productImage[0]%>" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%=rated[i].productName%></h6>
                                            <div class="d-flex justify-content-between me-3">
                                                <span>₹<%=rated[i].discountedPrice%></span>
                                                <span><strike class="text-danger">₹<%=rated[i].price.toLocaleString('en-IN')%></strike></span>
                                            </div>
                                        </div>
                                        <div class="product__details__rating" style="color: #FDCC0D;">
                                            <% let rating = rated[i].rating || 0; %>
                                            <% for(let j = 1; j <= 5; j++) { %>
                                                <% if (j <= Math.ceil(rating)) { %>
                                                    <i class="fa fa-star"></i>
                                                <% } else { %>
                                                    <i class="fa fa-star-o"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </a>
                                    <%}}%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Best Selling Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=0; i<3; i++){ 
                                    if(bestSeller[i]) { %>
                                <a href="/productDetails?id=<%=bestSeller[i]._id%>" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="<%=bestSeller[i].productImage[0]%>" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6><%=bestSeller[i].productName%></h6>
                                        <div class="d-flex justify-content-between me-3">
                                            <span>₹<%=bestSeller[i].discountedPrice%></span>
                                            <span><strike class="text-danger">₹<%=bestSeller[i].price.toLocaleString('en-IN')%></strike></span>
                                        </div>
                                        <div class="product__details__rating" style="color: #FDCC0D;">
                                            <% let rating = bestSeller[i].rating || 0; %>
                                            <% for(let j = 1; j <= 5; j++) { %>
                                                <% if (j <= Math.ceil(rating)) { %>
                                                    <i class="fa fa-star"></i>
                                                <% } else { %>
                                                    <i class="fa fa-star-o"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                                <%}}%>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <% for(let i=3; i<6; i++){ 
                                    if(bestSeller[i]) { %>
                                    <a href="/productDetails?id=<%=bestSeller[i]._id%>" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="<%=bestSeller[i].productImage[0]%>" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%=bestSeller[i].productName%></h6>
                                            <div class="d-flex justify-content-between me-3">
                                                <span>₹<%=bestSeller[i].discountedPrice%></span>
                                                <span><strike class="text-danger">₹<%=bestSeller[i].price.toLocaleString('en-IN')%></strike></span>
                                            </div>
                                        </div>
                                        <div class="product__details__rating" style="color: #FDCC0D;">
                                            <% let rating = bestSeller[i].rating || 0; %>
                                            <% for(let j = 1; j <= 5; j++) { %>
                                                <% if (j <= Math.ceil(rating)) { %>
                                                    <i class="fa fa-star"></i>
                                                <% } else { %>
                                                    <i class="fa fa-star-o"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </a>
                                    <%}}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/user/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/user/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/user/img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

 <%-include("../../views/partials/user/footer")%>