<%- include("../../views/partials/user/header") %>


<!-- Order Success Message Begin -->
<section class="checkout spad">
    <div class="container text-center">
        <div class="order__success__content">
            <i class="fa fa-check-circle" style="font-size: 100px; color: green;"></i>
            <h3 class="mt-4">Thank you for your purchase!</h3>
            <p>Your order has been placed successfully. A confirmation email has been sent to your registered address.</p>

            <div class="order-details mt-5">
                <h5>Order Summary</h5>
                <p><strong>Order ID:</strong> <%= order.orderId %></p>
                <p><strong>Total Amount:</strong> ₹<%= total %></p>
                <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
                <div class="col-md-6 mb-3 mx-auto">
                    <% if (order.address) { %>
                        <p>
                            <strong>Deliver to :</strong><br>
                            <%= order.address.name %><br>
                            <%= order.address.landMark %>, <%= order.address.city %><br>
                            <%= order.address.state %> - <%= order.address.pincode %><br>
                        </p>
                    <% } else { %>
                        <p class="text-danger">Address details not available.</p>
                    <% } %>
                </div>
                <p><strong>Contact Details : </strong></p>
                <p>Phone 1 : <%=order.address.phone%></p>
                <p>Phone 2 : <%=order.address.altPhone%></p>
                <p>Email : <%=user.email%></p>
            </div>
            

            <a href="/shop" class="site-btn mt-4">Continue Shopping</a>
            <a href="/orderDetails?id=<%= order._id %>" class="site-btn mt-4">Order Details</a>
        </div>
    </div>
</section>
<!-- Order Success Message End -->

<%- include("../../views/partials/user/footer") %>

<script src="/user/js/jquery-3.3.1.min.js"></script>
<script src="/user/js/bootstrap.min.js"></script>
<script src="/user/js/main.js"></script>
