<%-include("../../views/partials/user/header")%>

   <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form id="searchForm">
                                <input type="text" placeholder="What do yo u need?" name="search" id="searchInput" value="<%= typeof query.search !== 'undefined' ? query.search : '' %>">
                                <input type="hidden" name="category" value="<%= query.category || '' %>">
                                <input type="hidden" name="minPrice" value="<%= query.minPrice || '' %>">
                                <input type="hidden" name="maxPrice" value="<%= query.maxPrice || '' %>">
                                <input type="hidden" name="sort" value="<%= query.sort || '' %>">
                                <button type="submit" class="site-btn" id="searchButton">SEARCH</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="container-fluid breadcrumb-section set-bg" data-setbg="user/img/image.png">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home </a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <%for(let i=0;i<category.length;i++){%>
                                <li>
                                    <a href="/shop?<%= new URLSearchParams({ 
                                        ...query, category: category[i]._id 
                                    }).toString() %>"><%= category[i].name %></a>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 0, maxPrice: 2000 
                                }).toString() %>">Under 2000</a>
                            </div>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 2000, maxPrice: 4000 
                                }).toString() %>">2000 - 4000</a>
                            </div>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 4000, maxPrice: 6000 
                                }).toString() %>">4000 - 6000</a>
                            </div>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 6000, maxPrice: 8000 
                                }).toString() %>">6000 - 8000</a>
                            </div>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 8000, maxPrice: 10000 
                                }).toString() %>">8000 - 10000</a>
                            </div>
                            <div class="sidebar__item__size">
                                <a href="/shop?<%= new URLSearchParams({ 
                                    ...query, minPrice: 10000, maxPrice: 100000 
                                }).toString() %>">Above 10000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select id="sortOptions" onchange="sortProducts()">
                                            <option value="createdAt" sortOrder="desc">Latest (Default)</option>
                                            <option value="price" sortOrder="asc">Price : Low - High</option>
                                            <option value="price" sortOrder="desc">Price : High - Low</option>
                                            <option value="productName" sortOrder="asc">Product Name : A - Z</option>
                                            <option value="productName" sortOrder="desc">Product Name : Z - A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span><%=products.length%></span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 d-flex justify-content-end">
                                <div class="filter__option">
                                    <button class="site-btn" id="clear-btn">CLEAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="productsContainer">
                        <% for(let i = 0; i < products.length; i++) { %>
                        <div class="col-lg-4 col-md-6 col-sm-6 product-item" 
                             data-createdAt="<%= products[i].createdAt %>" 
                             data-price="<%= products[i].discountedPrice %>" 
                             data-name="<%= products[i].productName %>">
                             
                            <div class="product__item position-relative">
                                
                                <% if (products[i].maxDiscount > 0) { %>
                                <div style="position: absolute; top: 10px; left: 10px; background-color: red; color: white; font-size: 13px; padding: 2px 6px; border-radius: 5px; z-index: 10;">
                                    -<%= products[i].maxDiscount %>%
                                </div>
                                <% } %>
                        
                                <div class="product__item__pic set-bg" data-setbg="<%=products[i].productImage[0]%>">
                                    <ul class="product__item__pic__hover">
                                        <li onclick="addToWishlist('<%=products[i]._id%>')"><a><i class="fa fa-heart"></i></a></li>
                                        <li onclick="addToCart('<%=products[i]._id%>')"><a><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/productDetails?id=<%=products[i]._id%>"><%=products[i].productName%></a></h6>
                                    <p class="d-flex justify-content-between">
                                        <span style="color: black;"><b>₹<%=products[i].discountedPrice%></b></span>
                                        <span class="text-muted"><strike>₹<%=products[i].price%></strike></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>                        

                    </div>

                    <!-- pagination -->
                    <div class="product__pagination" style="padding: 0;">
                        <% if (currentPage > 1) { %>
                          <a class="btn p-0" href="/shop?page=<%= currentPage - 1 %>">Prev</a>
                        <% } %>
                   
                   
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <a class="btn p-0 <%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %>"><%= i %></a>
                        <% } %>
                   
                   
                        <% if (currentPage < totalPages) { %>
                          <a class="btn p-0" href="/shop?page=<%= currentPage + 1 %>">Next</a>
                        <% } %>
                      </div>
                   
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <%-include("../../views/partials/user/footer")%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

    function sortProducts() {
        const select = document.getElementById('sortOptions');
        const selectedOption = select.options[select.selectedIndex];
        const sortBy = selectedOption.value;
        const sortOrder = selectedOption.getAttribute('sortOrder');

        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sortBy',sortBy);
        urlParams.set('sortOrder',sortOrder);
        window.location.href = `/shop?${urlParams.toString()}`;
    }


    document.getElementById('searchButton').addEventListener('click',() => searchSubmit(document.getElementById('searchInput').value));

    function searchSubmit(search) {  
        const queryParams = new URLSearchParams({
        search: search
        });
        fetch(`/shop?${queryParams.toString()}`);
    }



    document.getElementById('clear-btn').addEventListener('click', function() {
        document.getElementById('searchInput').value = '';
        localStorage.removeItem("showClearBtn");
        document.getElementById('searchForm').submit();
    });


    window.onload = function() {
        if (localStorage.getItem("showClearBtn") === "true") {
            document.getElementById('clear-btn').style.display = 'block';
        } else {
            document.getElementById('clear-btn').style.display = 'none';
        }
    };


    function addToWishlist(productId) {
        fetch(`/addToWishlist?productId=${productId}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Added!',
                        text: data.message,
                        timer: 1500,
                        showConfirmButton: false
                    });
                } else {
                    Swal.fire({
                        icon: 'info',
                        title: 'Oops!',
                        text: data.message,
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Something went wrong.',
                });
            });
    }


    function addToCart(productId) {
        fetch(`/addToCart?productId=${productId}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Added!',
                        text: data.message,
                        timer: 1500,
                        showConfirmButton: false
                    });
                }else{
                    Swal.fire({
                        icon: 'info',
                        title: 'Oops!',
                        text: data.message,
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Something went wrong.',
                });
            });
    }


    </script>


</body>

</html>